body.css-settings-manager {
    --font-text-size: 1rem !important;
}

/* 所有图片左对齐 */
.markdown-preview-view img {
    margin: 0 !important;
    display: table !important;
    margin-right: auto !important;
}

/* 取消表格居中 */
.markdown-preview-view table {
    margin-left: 0 !important;
    margin-right: auto !important;
}
/* 修改单元格高度 */
.markdown-preview-view table td,
.markdown-preview-view table th {
    height: 45px !important;
    min-height: 45px !important;
}
/* 确保文本垂直居中 */
.markdown-preview-view table td,
.markdown-preview-view table th {
    vertical-align: middle !important;
}
/* 仅有表头背景透明 */
table:not(:has(tbody)) tr th{
    background-color: rgba(255, 255, 255, 0) !important;
    border-bottom: none !important;
    margin: 5px auto !important;
}
table:not(:has(tbody)) {
    box-shadow: none !important;
}

/* 隐藏列表折叠箭头 */
.markdown-rendered .list-collapse-indicator {
    display: none;
}
/* 增加列表下边距 */
.el-ul, .el-ol {
    margin-block-end: 25px;
}
ol li .has-list-bullet::before {
    margin-left: -3.75px !important;
}
/* 列表每个序号前增加横杠
:is(.el-ol, .el-ul) :is(ol, ul) li :is(ul, ol) li::after {
    content: "\200B";
    display: inline-block;
    width: 1px;
    height: 27px;
    border-inline-end: var(--indentation-guide-width) solid var(--indentation-guide-color);
    color: transparent;
    position: absolute;
    top: 7px;
    margin-inline-start: var(--indentation-guide-source-indent);
    transform: rotate(90deg);
    left: -52px;
} */
li:hover::before {
    top: calc(var(--list-spacing-bt)* 0.075em - var(--font-size-list)* 0.6 + 0.25em) !important;
    left: calc(-1.5* var(--list-indent) + 0.12em) !important;
    width: calc(0.5em + var(--size-4-4)) !important;
    height: calc(var(--font-size-list)* 1.27 - 0.05em) !important;
}
li::before {
    top: calc(var(--list-spacing-bt)* 0.075em - var(--font-size-list)* 0.6 + 0.25em) !important;
    left: calc(-1.5* var(--list-indent) + 0.12em) !important;
}

/* 数学公式块居左 */
.math.math-block mjx-container[jax='CHTML'] {
    text-align: left !important;
    margin-left: 0;
}

/* 取消标题单行文字边距 */
:is(.markdown-preview-view, .markdown-rendered) p {
    margin-block-start: 0;
    margin-block-end: 0;
}
/* 增加标题上边距 */
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-h1 {
    margin-top: 50px !important;
}
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-h2 {
    margin-top: 50px !important;
}
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-h3 {
    margin-top: 40px !important;
}
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-h4 {
    margin-top: 40px !important;
}
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-h5 {
    margin-top: 40px !important;
}
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-h6 {
    margin-top: 40px !important;
}
.data-bar {
    display: none !important;
}

/* 取消网页的最大宽度  */
body #center-content>.obsidian-document>.markdown-preview-sizer {
    max-width: 100% !important;
}

/* 增加每行文本下边距 */
.obsidian-document.markdown-preview-view .markdown-preview-sizer.markdown-preview-section .el-p {
    margin-block-end: 28px;
}

/* 搜索框高度 */
#search-container {
    --input-height: 2.4em !important;
}

/* 侧边栏按钮高度 */
.clickable-icon.sidebar-collapse-icon {
    height: 60% !important;
}

/* 隐藏白板网格 */
.canvas-background {
    display: none;
}